@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-container {
  @apply w-full;
  @apply pb-0 !important;
}

@media (min-width: 1024px) {
  .swiper-container {
    @apply aspect-w-1 aspect-h-1;
  }
}

@media (max-width: 1024px) {
  .swiper-wrapper {
    height: 250px !important;
  }
}

@media (max-width: 640px) {
  .swiper-wrapper {
    height: 400px !important;
  }
}

.swiper-container:hover {
  .swiper-button-next {
    display: block !important;
  }

  .swiper-button-prev {
    display: block !important;
  }
}

.swiper-button-next, .swiper-button-prev {
  display: none !important;
  width: 28px !important;
  height: 28px !important;
  background: #fff;
  border-radius: 50%;
  background-image: url('assets/next.svg');
  border: 4px solid #fff;
}

.swiper-button-prev {
  background-image: url('assets/prev.svg');
}

/* 
content
cleanliness, accuracy, checkin, communication, location
value, final, user:reference, property:references
*/

.swiper-button-next::after, .swiper-button-prev::after {
  content: '' !important;
}
